.container {
  padding: 0 2rem;
}

.navigation {
  display: flex;
  height: 30px;
  margin-top: 2rem;
  justify-content: space-between;
}

.navigation .button {
  padding: 4px;
}

.container__inner {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}